.DS_Store
.env

# IDE Files
#-------------------------
nbproject/
.idea/*
.vscode
.phpintel/

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

!tmp/index.html
!tmp/.htaccess

tmp/logs/*
!tmp/logs/index.html

tmp/logs/users/*
!tmp/logs/users/index.html
!tmp/logs/users/.htaccess
!tmp/logs/users/.gitignore

tmp/sessions/*
!tmp/sessions/index.html
!tmp/sessions/.htaccess
!tmp/sessions/.gitignore

tmp/spool/*
!tmp/spool/.gitignore
!tmp/spool/index.html

tmp/siplah_logs/*
!tmp/siplah_logs/.gitignore
!tmp/siplah_logs/index.html

uploads/bast/*
uploads/faktur/*
uploads/mitra/*
uploads/omzet/*
uploads/scm/*

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

!assets/data/json/index.html

assets/data/json/10-12/*
!assets/data/json/10-12/index.html
!assets/data/json/10-12/.gitignore

assets/data/json/7-9/*
!assets/data/json/7-9/index.html
!assets/data/json/7-9/.gitignore

assets/data/json/1-6/*
!assets/data/json/1-6/index.html
!assets/data/json/1-6/.gitignore

assets/data/list_transaksi/*
!assets/data/list_transaksi/index.html
!assets/data/list_transaksi/.gitignore

!assets/data/orders/index.html
assets/data/orders/lunas/*
!assets/data/orders/lunas/index.html
!assets/data/orders/lunas/.gitignore

assets/data/pernyataan/*
!assets/data/pernyataan/index.html
!assets/data/pernyataan/.gitignore

assets/data/pesanan/*
!assets/data/pesanan/index.html
!assets/data/pesanan/.gitignore

application/third_party/dompdf/lib/fonts/log.htm

composer.phar

*.sql

/vendor/

docker-compose.yml

uploads/steam/laporan/*
!uploads/steam/laporan/index.html
